@using YDev.Common.Models
@model List<Content>
@{
    ViewData["Title"] = "Hakkımızda";
}

<!-- Content Start -->
<div id="contentWrapper">
    <div class="page-title title-1">
        <div class="container">
            <div class="row" style="float:right">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">Biz <span>Kimiz ?</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionWrapper">
        <div class="container">
            <div class="fx" data-animate="fadeInUp">
                <h3 class="block-head">Introduction</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget lacus sit amet neque posuere aliquet. In interdum nisl sapien, vel dignissim nulla porta at. Sed accumsan nunc vitae mollis consequat. Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                    Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor.
                    Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor, lectus at dapibus egestas.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget lacus sit amet neque posuere aliquet. In interdum nisl sapien, vel dignissim nulla porta at. Sed accumsan nunc vitae mollis consequat. Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                    Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean
                </p>
            </div>

            <div class="clearfix"></div>

            <div class="padd-top-50">
                <div class="cell-12 fx" data-animate="fadeInRight">
                    <div class="row">
                        <h3 class="block-head">Who we Are?</h3>
                        <ul id="accordion2" class="accordion">
                            <li>
                                <h3 class="skew-25"><a href="#"><span class="skew25">Our Mission</span></a></h3>
                                <div class="accordion-panel active">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet purus quis metus imperdiet fermentum. Suspendisse hendrerit id lacus id lobortis. Vestibulum quam elit, dapibus ac augue ut, porttitor viverra dui. Pellentesque imperdiet purus quis metus imperdiet fermentum. Suspendisse hendrerit id lacus id lobortis.
                                </div>
                            </li>
                            <li>
                                <h3 class="skew-25"><a href="#"><span class="skew25">Our Vission</span></a></h3>
                                <div class="accordion-panel">
                                    Dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet purus quis metus imperdiet fermentum. Suspendisse hendrerit id lacus id lobortis. Vestibulum quam elit, dapibus ac augue ut, porttitor viverra dui. Pellentesque imperdiet purus quis metus imperdiet fermentum. Suspendisse hendrerit id lacus id lobortis. Vestibulum quam elit, apibus ac augue ut, porttitor viverra dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </li>
                            <li>
                                <h3 class="skew-25"><a href="#"><span class="skew25">Our Strategy</span></a></h3>
                                <div class="accordion-panel">
                                    Pellentesque imperdiet purus quis metus imperdiet fermentum. Suspendisse hendrerit id lacus id lobortis. Vestibulum quam elit, apibus ac augue ut, porttitor viverra dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet purus quis metus imperdiet fermentum. Suspendisse hendrerit id lacus id lobortis. Vestibulum quam elit, apibus ac augue ut, porttitor viverra dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-bg-4 our-plan">
        <div class="container">
            <div class="cell-5 plan-block lft-plan">
                <div class="block fx" data-animate="fadeInRight">
                    <h3>Our Startup Year</h3>
                    <p>
                        Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                        Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi.
                    </p>
                    <div class="plan-year"><span>2011</span></div>
                </div>
                <div class="block fx" data-animate="fadeInRight">
                    <h3>Plan for Large Portals</h3>
                    <p>
                        Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                        Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi.
                    </p>
                    <div class="plan-year"><span>2013</span></div>
                </div>
                <div class="block fx" data-animate="fadeInRight">
                    <h3>Improve Our Employees</h3>
                    <p>
                        Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                        Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi.
                    </p>
                    <div class="plan-year"><span>2015</span></div>
                </div>
            </div>
            <div class="cell-2 plan-title">
                <div class="main-color extraBold">
                    Our <br>
                    <span>Plan</span>
                </div>
            </div>
            <div class="cell-5 plan-block rit-plan">
                <div class="block fx" data-animate="fadeInLeft">
                    <h3>We Hire People</h3>
                    <p>
                        Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                        Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi.
                    </p>
                    <div class="plan-year"><span>2012</span></div>
                </div>
                <div class="block fx" data-animate="fadeInLeft">
                    <h3>Larger Achievments</h3>
                    <p>
                        Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                        Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi.
                    </p>
                    <div class="plan-year"><span>2014</span></div>
                </div>
                <div class="block fx" data-animate="fadeInLeft">
                    <h3>Enlarge Our Scope</h3>
                    <p>
                        Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                        Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi.
                    </p>
                    <div class="plan-year"><span>2016</span></div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="sectionWrapper">
        <div class="container">
            <div class="row">
                <div class="cell-7 fx" data-animate="fadeInLeft">
                    <h3 class="block-head">Our Skills</h3>
                    <p>
                        Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
                        Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi.
                    </p>
                    <ul class="levels-2">
                        <li>
                            <div class="level-out-2">
                                <span class="chart" data-percent="100">
                                    <span class="percent"></span>
                                </span>
                            </div>
                            <span class="level-name-2">Web UI Development</span>
                        </li>
                        <li>
                            <div class="level-out-2">
                                <span class="chart" data-percent="60">
                                    <span class="percent"></span>
                                </span>
                            </div>
                            <span class="level-name-2">ASP.NET Development</span>
                        </li>
                        <li>
                            <div class="level-out-2">
                                <span class="chart" data-percent="80">
                                    <span class="percent"></span>
                                </span>
                            </div>
                            <span class="level-name-2">Graphic design</span>
                        </li>
                        <li>
                            <div class="level-out-2">
                                <span class="chart" data-percent="90">
                                    <span class="percent"></span>
                                </span>
                            </div>
                            <span class="level-name-2">SEO Managment</span>
                        </li>
                    </ul>
                </div>
                <div class="cell-1"><br></div>
                <div class="cell-4">
                    <h3 class="block-head">Statistics</h3>
                    <div class="porto-stats">
                        <div class="staff-3">
                            <div class="cell-6 fx" data-animate="bounceIn">
                                <div class="gry-bg">
                                    <div class="fun-number">1962</div>
                                    <div class="fun-text">Traffic</div>
                                </div>
                            </div>
                            <div class="cell-6 fx" data-animate="bounceIn" data-animation-delay="100">
                                <div class="gry-bg">
                                    <div class="fun-number">136</div>
                                    <div class="fun-text">Working Hours</div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="cell-6 fx" data-animate="bounceIn" data-animation-delay="200">
                                <div class="gry-bg">
                                    <div class="fun-number">2350</div>
                                    <div class="fun-text">Users</div>
                                </div>
                            </div>
                            <div class="cell-6 fx" data-animate="bounceIn" data-animation-delay="300">
                                <div class="gry-bg">
                                    <div class="fun-number">985</div>
                                    <div class="fun-text">Notifications</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionWrapper gry-pattern">
        <div class="container team-boxes">
            <h3 class="block-head">Meet Our Team</h3>
            <div class="cell-3 fx" data-animate="bounceIn">
                <div class="team-box">
                    <div class="team-img">
                        <img alt="" src="images/people/1.jpg">
                        <h3>Alicia Stewark</h3>
                    </div>
                    <div class="team-details">
                        <h3 class="gry-bg">Alicia Stewark</h3>
                        <div class="t-position">Company CEO.</div>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolre eu feugiat nula faciisis at vero eros.</p>
                        <div class="team-socials">
                            <ul>
                                <li><a href="#" title="facebook"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" title="linkedin"><span class="fa fa-linkedin"></span></a></li>
                                <li><a href="#" title="skype"><span class="fa fa-skype"></span></a></li>
                                <li><a href="#" title="twitter"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" title="vimeo"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-3 fx" data-animate="bounceIn" data-animation-delay="200">
                <div class="team-box">
                    <div class="team-img">
                        <img alt="" src="images/people/1.jpg">
                        <h3>John Martin</h3>
                    </div>
                    <div class="team-details">
                        <h3 class="gry-bg">John Martin</h3>
                        <div class="t-position">Chair Man.</div>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolre eu feugiat nula faciisis at vero eros.</p>
                        <div class="team-socials">
                            <ul>
                                <li><a href="#" title="facebook"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" title="linkedin"><span class="fa fa-linkedin"></span></a></li>
                                <li><a href="#" title="skype"><span class="fa fa-skype"></span></a></li>
                                <li><a href="#" title="twitter"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" title="vimeo"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-3 fx" data-animate="bounceIn" data-animation-delay="400">
                <div class="team-box">
                    <div class="team-img">
                        <img alt="" src="images/people/1.jpg">
                        <h3>Alex Henry</h3>
                    </div>
                    <div class="team-details">
                        <h3 class="gry-bg">Alex Henry</h3>
                        <div class="t-position">General Manager.</div>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolre eu feugiat nula faciisis at vero eros.</p>
                        <div class="team-socials">
                            <ul>
                                <li><a href="#" title="facebook"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" title="linkedin"><span class="fa fa-linkedin"></span></a></li>
                                <li><a href="#" title="skype"><span class="fa fa-skype"></span></a></li>
                                <li><a href="#" title="twitter"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" title="vimeo"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-3 fx" data-animate="bounceIn" data-animation-delay="600">
                <div class="team-box">
                    <div class="team-img">
                        <img alt="" src="images/people/1.jpg">
                        <h3>Maria Adams</h3>
                    </div>
                    <div class="team-details">
                        <h3 class="gry-bg">Maria Adams</h3>
                        <div class="t-position">Company CEO.</div>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolre eu feugiat nula faciisis at vero eros.</p>
                        <div class="team-socials">
                            <ul>
                                <li><a href="#" title="facebook"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" title="linkedin"><span class="fa fa-linkedin"></span></a></li>
                                <li><a href="#" title="skype"><span class="fa fa-skype"></span></a></li>
                                <li><a href="#" title="twitter"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" title="vimeo"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

</div>
<!-- Content End -->