@{
    ViewData["Title"] = "Medya Yönetimi";
    string dataYoutube = string.Empty;
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    @ViewData["Title"]
                    <small>media ekle, düzenle, tasarla</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BASE CONTENT -->

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered">

                    <div class="portlet-body">
                        <iframe width="100%" height="500" frameborder="0"
                                src="dosyaYonetimi/dialog.php?type=2">
                        </iframe>
                    </div>

                </div>
                <!-- END PORTLET-->
            </div>
        </div>

        <!-- END PAGE BASE CONTENT -->

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

